.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

.content_title {
    display: flex;
    flex-direction: column;
    max-width: 543px;
    text-align: center;
    gap: 16px;
}

.card {
    border-radius: 20px;
    background: var(--background-gradient);
    padding: 1px;
    clip-path: polygon(100% 0, 100% 82%, 72% 100%, 0 100%, 0 0);
}

.card_content {
    border-radius: 20px;
    background: var(--background);

    padding: 22px 10px;
    clip-path: polygon(100% 0, 100% 82%, 72% 100%, 0 100%, 0 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
}