.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;
}